

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    min-height: 100vh;
    background: linear-gradient(135deg, black, grey, rgb(6, 6, 6));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* ===== NAVBAR ===== */

.custom-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.05);
    box-shadow: 0 0 20px rgba(0,255,229,0.2);
    z-index: 100;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img {
    width: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-shadow: 0 0 6px rgba(0,255,229,0.6);
}

.nav-links a:hover {
    color: #00ffe5;
}

/* push login box down */
body {
    padding-top: 90px;
}

/* ===== FOOTER ===== */

.custom-footer {
    width: 100%;
    margin-top: 80px;
    padding: 50px 20px 20px;
    background: rgba(255,255,255,0.03);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 30px rgba(0,255,229,0.15);
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 30px;
    color: white;
}

.footer-col h5 {
    margin-bottom: 10px;
    text-shadow: 0 0 6px rgba(0,255,229,0.7);
}

.footer-col a {
    display: block;
    color: #ccc;
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 6px;
}

.footer-col a:hover {
    color: #00ffe5;
}

.footer-logo {
    width: 100px;
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    color: #aaa;
}


.logo {
    margin-bottom: 20px;    
}

.logo img {
    width: 250px;
    height: 250px;
    filter: drop-shadow(3px 5px 8px rgb(10, 10, 10));
}

/* ===== LOGIN BOX ===== */

.login-box {
    width: 540px;
    padding: 30px;
    background: rgba(255, 255, 255, 0);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    color: #ffffff;
    box-shadow: 0 0 25px rgba(14, 14, 14, 0.2);
    transition: 0.3s;
    margin-bottom: 16px;
}


.login-box:hover {
    box-shadow: 0 0 35px rgba(243, 242, 242, 0.878);
}

/* ===== HEADING ===== */
.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 8px rgba(0, 255, 229, 0.8);
}


.login-box label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

/* ===== INPUTS ===== */
.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
}

.login-box input::placeholder {
    color: #faf9f9a3;
}

/* ===== BUTTON ===== */
.login-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #355473;
    color: #f8f5f5;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-box button:hover {
    background: #03728eb6;
    box-shadow: 0 0 10px rgba(0, 198, 255, 0.8);
}


.extra {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
}

.extra a {
    color: #05b8eaf7;
    /* text-shadow: 0 0 5px rgba(0, 198, 255, 0.8); */
    text-shadow: 0 0 8px rgba(0, 255, 229, 0.8);
    text-decoration: none;
}


.error {
    background: rgba(255, 0, 0, 0.25);
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 13px;
}
